{% extends 'base.html' %}

{% block content %}

<h1>Tweet Credits</h1>

<main>
    <div class="row">
        {% for dict_item in products %}
        <div class="col-md-4">  
            <div class="card" style="width: 18rem;">
                <img src="http://placehold.it/250x250" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{dict_item["title"]}}</h5>
                    <p id="price" class="card-text">{{dict_item["price"]}}</p>
                    <p class="card-text">{{dict_item["desc"]}}</p>
                    <a href="#" id="custom-button" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>

{% endblock content %}


{% block scripts %}
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script>
    var handler = StripeCheckout.configure({
      key: "{{ key }}",
      image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
      locale: "auto",
      token: function(token) {
        console.log(token);
      }
    });

    document.getElementById("custom-button").addEventListener("click", function(e) {
      // Open Checkout with further options:
      handler.open({
        name: "TestDriven.io",
        description: "A Flask Charge",
        amount: 500
      });
      e.preventDefault();
    });

    // Close Checkout on page navigation:
    window.addEventListener("popstate", function() {
      handler.close();
    });
  </script>
{% endblock %}